body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../../img/glass.jpg);
    background-size: cover;
}

/* .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 40px;
    background: rgb(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;

}   */

.register-form {
    margin: 50px auto;
    padding: 25px 20px;
    background: rgb(0, 0, 0, .8);
    box-shadow: 2px 2px 4px #EEEEEE;
    border-radius: 5px;
    color: #fff;
}

.register-form h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #EEEEEE;
}